div.container {
    width: 100%;
    min-height: 100vh;
}

div.main-wrapper {
    width: 100%;
    min-height: 60vh;
    background-image: url("/view/resources/img/bg.jpg");
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
}

div.main-wrapper > h1,
div.main-wrapper > p,
div.main-wrapper > a,
div.posts > a > p  {
    color: white;
}

div.main-wrapper > h1,
div.main-wrapper > p,
div.posts > a > p {
    text-shadow: 5px 5px 5px black;
}

div.main-wrapper > a,
div.posts > a {
    box-shadow: 5px 5px 10px black;
}

div.main-wrapper > h1 {
    font-size: 50px;
}

div.main-wrapper > p {
    width: 50%;
    padding-top: 1%;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}

div.line {
    width: 75%;
    margin-top: 3%;
    padding: 0.3%;
    background-color: #f6bf00;
}

div.blog {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.blog > h1 {
    padding: 1.5% 0;
}

div.posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
    width: 100%;
}

div.posts > a {
    width: 20%;
    margin: 1%;
    padding: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

div.posts > a:hover {
    box-shadow: 5px 5px 25px black;
    cursor: pointer;
    transition: all .5s;
}

div.posts > a > p {
    font-size: 20px;
}

